body {
    background-color: #121212;
    color: #00ffe7;
    font-family: 'Segoe UI', sans-serif;
    padding: 20px;
}
h2 {
    color: #00bfff;
}
a {
    color: #33ff77;
    text-decoration: none;
}
input, button {
    padding: 8px;
    margin: 5px;
    background-color: #222;
    color: #fff;
    border: 1px solid #00bfff;
}
